@using Hotel.Models.ViewModels
@model RoomCalendarVm

<h3>Booked days for Room @Model.RoomNumber</h3>
<a asp-action="Index" class="btn btn-secondary">Back to rooms</a>

<div id="calendar"></div>

@section Scripts {
    <script>
    $(function () {
      $('#calendar').datetimepicker({
        inline: true,
        format: 'YYYY-MM-DD',
        disabledDates: []
      });

      $.getJSON(`/api/rooms/bookeddates/${@Model.RoomId}`, function(days){
          var moments = days.map(d => moment(d));
          $('#calendar').data("DateTimePicker").disabledDates(moments);
      })
      .fail(() => alert('Could not load bookings'));
    });
  </script>
}