@using Hotel.Models.ViewModels
@model BookingVm
@{
    ViewData["Title"] = "Edit";
}

<h3>Edit a booking</h3>

<form asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RoomNumber"></label>
        <input asp-for="RoomNumber" class="form-control" />
        <span asp-validation-for="RoomNumber" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="NoOfPeople"></label>
        <input asp-for="NoOfPeople" class="form-control" />
        <span asp-validation-for="NoOfPeople" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" type="date" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" type="date" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
</form>