@model List<Hotel.Models.Booking>
@{
    ViewData["Title"] = "Bookings for User";
}

<h3>My Bookings</h3>

<table class="table">
    <thead>
    <tr>
        <th>UserId</th>
        <th>RoomId</th>
        <th>StartDate</th>
        <th>EndDate</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var booking in Model)
    {
        <tr>
            <td>@booking.UserId.ToString()</td>
            <td>@booking.RoomId.ToString()</td>
            <td>@booking.StartDate.ToString()</td>
            <td>@booking.EndDate.ToString()</td>
        </tr>
    }
    </tbody>
</table>